// ! cSpell: disable

const config: {
  DISCORD: {
    CLIENT_ID: string
    TOKEN: string
    LOG_CHANNEL_ID: string
  }
  FIREBASE: {
    databaseURL: string
    serviceAccount: any
  }
} = {
  DISCORD: {
    CLIENT_ID: '',
    TOKEN: '',
    LOG_CHANNEL_ID: '',
  },
  FIREBASE: {
    databaseURL: 'https://<PROJECT-ID>.firebaseio.com',
    serviceAccount: {
      type: '',
      project_id: '',
      private_key_id: '',
      private_key: '',
      client_email: '',
      client_id: '',
      auth_uri: '',
      token_uri: '',
      auth_provider_x509_cert_url: '',
      client_x509_cert_url: '',
    },
  },
}

export default config
